{% block products_review_rating_widget %}

    <div class="rate d-flex">

        {% for child in form.children|filter(child => not child.rendered) %}

            <div class="{{ child.vars.value is empty ? 'd-none' }}">
                {{ form_widget(child) }}
            </div>

        {% endfor %}
    </div>

{% endblock %}

